<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <%= render partial: "posts/post", collection: @posts, cached: true %>
</div>

<%= link_to "New post", new_post_path %>
